/*<style type="text/css">

  table.pGenre{ 
      border-style:solid; 
      border-width:thin; 
      padding;10px;
  }
  th.pGenre{ 
      float:left; 
      border-bottom-style:solid; 
      border-width:thin;
  }
  td.pGenre{ 
      height:100px; 
      width:100px; 
      padding:5px;
  }
  img.clickableBook{      
      vertical-align:text-bottom;
  }
  p.center{
      text-align:left;
  }
  font.booktext{
      font-size:12px;
      font-weight:bold;
  }
  a:link.pGenre{
      color:#FF5050;
      text-decoration:none;
  }

</style>*/